* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// FONT
$primary-font: "Anton", sans-serif;

// COLORI

$primary-color: #e0e0ce;
$secondary-color: #474747;
$tertiary-color: #ad343e;

// MISURE

$spacing-default: 1em;
$lateral-spacing: 10%;
